*,
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-image: url(../img/prBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  .sidebar {
    background-color: #c69963;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 1rem;
    gap: 2rem;
  }
  
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      position: relative;
      width: auto;
      height: auto;
      grid-column: initial;
      grid-row: initial;
      display: block;
      justify-content: initial;
      align-items: initial;
      padding: initial;
      gap: initial;
    }
  }
  .sidebar__btn {
    cursor: pointer;
    background-color: #101d2c;
    color: #fff;
    padding: .7rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 400;
    transition: all .2s; }
    .sidebar__btn:hover {
      transform: translateY(-0.3rem); }
    .sidebar__btn:active {
      transform: translateY(-0.1rem); }
      .nav-btn {
        border: none;
        border-radius: 0;
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
        align-self: center; }
        .nav-btn::before, .nav-btn::after {
          content: "";
          background-color: #fff;
          height: 2px;
          width: 4.5rem;
          display: block; }
        @media only screen and (max-width: 62.5em) {
          .nav-btn {
            margin-top: 0;
            margin-right: 3rem; } }
        .nav-btn::before {
          transform: translateY(-1.5rem); }
        .nav-btn::after {
          transform: translateY(1.3rem); }

  .container{
    height:60vh ;
    width: 40vw;
    background-color: rgba(200, 200 , 200, 0.5);
    padding: 4vh 0px 9vh 0px;
    margin: 10vh 30vw 10vh 30vw;
    border-radius: 2vh;
  }

  .form{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }

  .form-fields{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
  }

  #preview-container {
    position: relative;
    height: 30vh;
    width: 30vh;
  }
  
  #preview-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  #preview-container img.zoomed {
    transform: scale(1.5);
    z-index: 2;
  }

  .label-text{
    text-align: center;
    font-size: 2vh;
    object-fit: contain;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
 .label-text:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

 .form-fields input{
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
    background-color: rgba(155, 155 , 155, 0.4);
    height: 3.5vh;
    width: 18vw;
 }

.form-fields p{
    padding-right: 12vh;
    margin: 1.1vh 0;
    font-size: 2.2vh;
 }

.buttons{
    margin-top: 1vh;
    text-align: center;
  }

  .button{
    margin: 0 1vh;
    padding: 0vh 1.8vh 0.2vh;
    background-color: rgba(132, 129, 129, 0.715);
    border: none;
    border-radius: 100px;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.3s ease;
 }
 .button:hover{
  cursor: pointer;
  transform: scale(1.2);
 }

 .arrow{
  font-size: 3vh;
 }
 
#details {
  text-decoration: none;
  font-size: 2.25vh;
}

.details{
    text-align: center;
    font-size: 2.25vh;
}

.block-name{
  display: flex;
  justify-content: center;
  font-size: 2.2vh;
}

.notice{
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  font-size: 1vw;
}

@media screen and (max-width: 1281px) {
  .form-fields{
    margin-top: 2.5vh;
  }
  .pconfirm {
    padding-right: 0.5vh;
  }
}