<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/viewProperty.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
    <title>{{property.name}}</title>
</head>
<body>
    <div class="sidebar">
        <button class="nav-btn"></button>
        <a href="/"><button class="sidebar__btn login">Home</button></a>
    </div>
    <div class="container">
        <p class="block-name">{{property.name}}</p>
        <div class="form">
            <div class="img-form">
                <div id="preview-container">
                    {% for image in images %}
                    <img src="../static/uploads/{{image.image_filename}}" alt="">
                    {% endfor %}
                </div>
                <div class="buttons">
                    <button class="button" id="prev-button"><p class="arrow">←</p></button>
                    <button class="button" id="next-button"><p class="arrow">→</p></button>
                </div>
            </div>
            <div class="form-fields">
                <p class="location">Property location: {{property.location}}</p>
                <p class="area">Property area: {{property.house_square}} m<sup>2</sup></p>
                <p class="rooms">Amount of rooms: {{property.rooms}}</p>
                <p class="price">Price: {{property.price}} $</p>
            </div>
        </div>
        <p class="details">Contact us !</p>
        {% if logged_in %}
        <button class="btn home__btn"><a class ="property-link" href={{url_for('contact_realtor', id=property.user_id)}}> <p>Contact realtor </p> </a></button>
        {% endif %}
        <p class="notice">**realtors can answer you only from 8 am to 6 pm</p>
    </div>
</body>
    <script src="../static/js/viewProperty.js"></script>
</html>